body {
	margin: 0 auto;
	width: 100%;
	height: 100%;


}


header {
	background-color: black;
	width: 100%;
	height: 75px;
}

header ul{
	list-style-type: none;
	width: 650px;
	height: 20px;
	margin: 0 auto;


}


ul li{
	display: inline-block;
	font-size: 15pt;
	font-family: PT Sans;
	color: white;
	margin-left: 50px;
	padding-top: 25px;

}


#header2{
	width: 100%;
	height: 45px;
	background-color: white;
	text-align: center;
	color: black;
	font-family:  PT Sans;
	padding-top: 5px;
	font-variant-caps: small-caps;
	font-size: 15pt;



}



img[alt="logo"]{
	width:10%;
	margin-left: 150px;
	margin-top: -10px;
	position: absolute; 
	
}


img[alt="top"]{
	
	width: 100%;
}

img[alt="icon1"]{
	width: 1%;
}

.passion {
    position: absolute;
    top: 33%;
    left: 62.5%;
    font-size: 85px;
   	color: white;
   	font-family: PT Sans;
   	padding-top: 20px;

}

.burger {
    position: absolute;
    top: 43%;
    left: 62%;
    font-size: 85px;
   	color: white;
   	font-family: Tw cen MT;
   	font-kerning: 45px;
   	padding-top: 70px;

}

.box {
    position: absolute;
    top: 65%;
    left: 68%;
    font-size: 35px;
   	color: white;
   	font-family: PT Sans;
   	font-kerning: 45px;
	padding-top: 8px;
   	padding-left: 20px;
   	padding-right: 10px;
   	background-color: white;
   	width: 190px;
   	margin-top: 20px;

}

#box {
	color: #C52234;

}

img[alt="3burgers"]{
	width: 80%;

}

img[alt="mk"]{
	width: 20%;
	position: absolute;

}

img[alt="bp2"]{
	width: 50%;
	margin-left: 50%;


	
}

a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color:grey;
	background-color: transparent;
	text-decoration: none;
}

footer {
	background-color: black;
	width: 100%;
	height: 150px;
}

footer ul{
	list-style-type: none;
	width: 650px;
	height: 20px;
	margin: 0 auto;



}
.footer2 {
	margin-top: 20px;
	padding-left: 130px;
}



.original {
    position: absolute;
    top: 175%;
    right: 70%;
    transform: translate(30%, 30%);
    font-size: 65px;
   	color: #C52234;
   	font-family: PT Sans;


}

.description {
    position: absolute;
    top: 183%;
    right: 70%;
    transform: translate(30%, 30%);
    font-size: 20px;
    color: black;
   	font-family: PT Sans;
   	text-align: center;


 

}

.box2 {
    position: absolute;
    top: 202%;
    right: 72%;
    transform: translate(30%, 30%);
    font-size: 25px;
   	font-family: PT Sans;
	padding-top: 10px;
   	padding-left: 20px;
   	padding-right: 15px;
   	padding-bottom: 8px;
   	margin-top: 50px;
   	background-color: #C52234

}

#box2 {
	color: white;
}

